.menu {
  padding: 30px;
  &__top {
    // margin: 30px 30px;

    button {
      color: $color-pink;
      font-size: 15px;
      font-family: "Argent Pixel CF";
      display: flex;
    }
  }
  &__logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  &__person {
    margin-top: 30px;
    a {
      text-decoration: none;
      color: unset;
    }
  }
  &__person-category {
    font-size: 20px;
    font-family: "Argent Pixel CF";
  }
  &__person-name {
    font-size: 30px;
    display: flex;
  }
}
