$color-pink: #e3ced3;
$color-pink-rgb: rgb(227, 206, 211);
$color-green: #cee3d0;
$color-green-rgb: rgb(206, 227, 208);
$color-red: #df9090;
$color-red-rgb: rgb(223, 144, 144);
$color-yellow: #dfce90;
$color-yellow-rgb: rgb(223, 206, 144);
