.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-color: $color-pink;

  &__panam {
    position: absolute;
    @media (max-width: 768px) {
      top: -25px;
      left: -5px;
    }
    transform: rotate(-20deg);
  }

  &__container {
    // @media (min-width: 768px) {
    //   .grid {
    //     width: 100%;
    //     flex-direction: column;
    //   }
    // }
    // min-width: 400px;
    // min-height: 400px;
    @media (min-width: 768px) {
      padding-top: 200px;
    }
    transition: margin-top 0.5s ease-in-out;
    // position: relative;
  }
  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      height: 450px;
      // min-height: 100vh;
      // margin-top: 30px;
    }
    transition: height 0.3s ease-in-out;
  }

  &__title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    h1 {
      margin: 0;
    }
  }

  &__animation {
    @media (max-width: 768px) {
      padding: 0 20px;
      width: 100%;
      height: 300px;
      z-index: 10;
      position: absolute;
      top: 80px;
      // transform: translateY(-50px);
    }
  }
  &__video {
    // padding: 0 40px;
    border: 3px solid black;
    @media (max-width: 768px) {
      // position: absolute;
      // width: min(90%, 300px);
      // top: 230px;
      // left: 50%;
      margin: 0 5%;
      z-index: 0;
      margin-top: 120px;
      // transform: translateX(-50%);
    }
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    video {
      width: 100%;
      height: auto;
    }
  }
  &__search {
    display: block;
    align-items: baseline;
    justify-content: baseline;
  }
  &__emoji-container {
    position: relative;
    overflow: hidden;
    height: 130px;
    width: 100%;
    font-size: 100px;
  }
  &__emojis {
    height: 100px;
    width: 10000px;
    position: absolute;
    left: 0;
    top: 0;
    animation: swipe 3s infinite linear;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes swipe {
  from {
    left: 0;
  }
  to {
    left: -200px;
  }
}
