.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  // padding: 0 20px;
  margin: 0 auto;
  margin-top: 40px;
  z-index: 2;

  &__shadow {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    bottom: -15px;
    right: -15px;
    z-index: -1;
  }

  &__container {
    width: 100%;
    max-width: 400px;
    // margin: 0 20px;
    border: 2px solid black;
    padding: 15px;
  }
  &__fuckyouerlend {
    width: 21px;
    height: 21px;
    transform: scaleX(0.7) rotate(45deg);
    border-left: 2px solid black;
    border-top: 2px solid black;
    background-color: white;
    position: absolute;
    top: -10px;
  }
  &__postcard {
    display: flex;
    justify-content: space-between;
  }
  &__postcard-left {
  }
  &__postcard-panam {
    transform: rotate(-20deg) translateY(-10px);
  }
  &__postcard-date {
    font-size: 14px;
    transform: translateY(-10px);
    color: rgba(149, 136, 136, 1);
  }
  &__postcard-right {
  }

  &__header {
    width: 100%;
    padding: 10px 0;
    font-family: "Argent CF";
    font-size: 20px;
  }
  &__link {
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-family: "Argent Pixel CF";
  }
  &__regions-container {
    background-color: white;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-family: "Argent CF";
    font-size: 20px;
    border: 2px solid black;
    border-top: 0;
    z-index: 2;
    overflow: hidden;
  }
  &__regions-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
  }
  &__expand-arrow {
    margin-left: 10px;
  }
  &__regions {
    text-align: left;
  }
  &__region {
    margin: 5px 20px;
    display: flex;
    justify-content: space-between;
  }
}
